@tailwind base;
@tailwind components;
@tailwind utilities;

       /* fonts */
@font-face {
  font-family: "archivo";
  src: url(C:\Users\chara\Letscode\PyStack\VAIL\iu_racing\fonts\Archivo.ttf);
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "michroma";
  src: url(C:\Users\chara\Letscode\PyStack\VAIL\iu_racing\fonts\Michroma.ttf);
  font-weight: normal;
  font-size: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
.text{
  font-family: 'archivo',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: white;
}

.number{
  font-family: 'michroma',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
